html{
  
    background: linear-gradient(#4FC715, #4476A8);
    height:100%;
    
   
}

nav {
    border-bottom: 1px solid black;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
    float: right;
}


}